body {
    font-family: 'Poppins', sans-serif;
    background-color: #212529; 
}
/* Adiciona a imagem de fundo e garante que ela cubra a tela */
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/img/painel-inicial.avif'); /* Substitua pelo caminho correto da sua imagem */
    background-size: cover; /* A imagem cobrirá toda a área, cortando se necessário */
    background-position: center center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita repetição */
    opacity: 0.3; /* Ajuste a opacidade para a imagem ser mais ou menos visível */
    z-index: -1; /* Coloca a imagem atrás de todo o conteúdo */
}

.selection-card {
    width: 100%;
    max-width: 500px;
    padding: 2.5rem;
    border-radius: 0.5rem;
    /* Sombra suave para destacar o card */
    box-shadow: 0 10px 30px rgba(250, 249, 249, 0.655); 
    background-color: #000000b0; /* Um fundo cinza muito claro para o card */
    border: 1px solid #dee2e6;
}

.card-title {
    font-weight: 700;
    color: #11c671; /*para o título */
}

.system-select-btn {
    padding: 0.75rem 1.25rem;
    font-size: 1.1rem;
    font-weight: 400;
    /* Cor azul padrão do seu tema */
    background-color: #1b9b5fd4;
    border-color: #ffffff;
    transition: all 0.2s ease-in-out;
}

.system-select-btn:hover {
    /* Azul mais escuro no hover (o mesmo do seu tema) */
    background-color: #ffffff;
    border-color: #1b9b5fd4;
    text-decoration: none;
    color: #1b9b5fd4 !important;
    transform: scale(1.02);
}

.text-muted {
    --bs-text-opacity: 1;
    color: #11c671 !important;
}

#admin-logout {
    text-decoration: none;
    color: #ffffff !important;
    transition: color 0.2s;
}

#admin-logout:hover {
    color: #dc3545 !important; /* Vermelho no hover (igual ao seu botão Sair) */
    text-decoration: underline;
}